*{
    margin:0;
    font-family: Arial;
    border: border-box;

}
.navbar{
    height:60px;
    background-color:#085749;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;
   
}
.logo{
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    height:50px;
    width:100%;
     
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box 2 */
.add-first{
    color:#CCCCCC;
    font-size:0.85rem;
    margin-left: 15px;
}
.add-second{
    color:#FFFFFF;
    font-size: 1rem;
    margin-right: 3px;
}
.add-icon{
    display:flex;
    align-items: center;
}
/* box 3 */
.nav_search{
    background-color: #FFFFFF;
    justify-content:space-evenly;
    width:720px;
    height:30px;
    border-radius: 4px;
    display:flex;
    align-items: center;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    height: 30px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width: 45px;
    height: 30px;
     display:flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     background-color: rgb(162, 9, 101);
     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav_search:hover{
            border:2px solid orange;
}
.country{
    width:50px;
}
.region{
    padding:10px;
}
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
       font-size:25px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight: 700;
}
.panel{
   height:40px;
   background-color: #226745;
   display:flex;
   align-items: center;
   justify-content: space-evenly;
   color: #fff;
}
.panel-all{
    display:flex;
   
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops p:hover{
    border:2px solid ;
   
}

.panel-ops{
    width:100%;
    font-size:0.85rem;
}
.hero-section{
    background-image: url(./images/h1.jpg);
    background-size: cover;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.hero-message{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:0.85rem;
    width:90%;
    margin-bottom: 25px;
  
}
.hero-message a{
    color:#007185;
}
.shop-section{
    display:flex;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}
.box{
   
    height:425px;
    width:22%;
    background-color: white;
      margin:15px;
}
.box-img img{
height:120px;
width:110px;
background-size:cover; 
margin:10px;
}
.line{
    display: flex;
    justify-content: space-evenly;
}
.box p{
    font-size:10px;
    color:#007185;
    margin-top:20px;
     margin-left:10px;
     margin-bottom:15px;
}
.text{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    text-align:left;
    font-size: 10px;;
   margin-left:30px;
   margin-top:0px;
   
}
.text1{
    margin-right:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.text2{
    margin-right:60px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sin{
    background-image: url(./images/getyourgameon.jpg);
    height:275px;
    width:100%;
    background-size: cover;
    margin-top:25px;
    margin-bottom:35px;
}
.sin2{
     background-image: url(./images/holidaygifts.jpg);
    height:275px;
    width:100%;
    background-size: cover;
    margin-top:25px;
    margin-bottom:35px;
}
.back{
    height:50px;
    width:100%;
    background-color: #37475a;
    color:white;
     display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.back:hover{
    background-color: #5d6e83;;
}
.p1{
    background-color: #222f3d;
    color:white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:20px;
}
ul a{
    font-size:0.85rem;
    display:block;
    
    color:#dddddd;
}
.p2{
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;
     height:90px;
     display:flex;
     justify-content: center;
     align-items: center;
}
.logo{
    background-image: url(./images/amazon_logo.png);
     height:50px;
     width:100px;
     background-size:cover;
}
.fp{
    background-color: #0f1111;
    color:white;
     height:100px;
      font-size:0.7rem;
       text-align: center;
}
.pages{
    padding-top:25px ;
      
}
.copyright{
    padding-top:5px;
       
}
 